# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.cache
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
.env

# Editors
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Coverage
.coverage
htmlcov/

# Build
dist/
build/
site/

